@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

:root {
    --color-white: #ffffff;
    --accent-color: #01996d;
    --accent-color-hover: #068561;
    --color-green: #245852;
    --color-dark: #424242;
    --color-text: #292929;
}

body {
    overflow-anchor: none;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.btn-primary {
    display: inline-block;
    padding: 13px 40px;
    background-color: var(--accent-color);
    color: var(--color-white);
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: var(--accent-color-hover);
    }
}

.title {
    margin: 0;
    max-width: 584px;
    font-size: 50px;
    line-height: 157%;
    font-family: Georgia;
    font-weight: 700;
}

.header {
    background-color: var(--color-white);
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
    }
}

.nav {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__item {
        margin: 0 35px;
    }
    &__link {
        position: relative;
        color: var(--color-text);
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 2px;
            background-color: var(--color-text);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }
        &:hover::before {
            transform: scaleX(1);
        }
    }
    &__login {
        margin-left: 35px;
    }
}

.login__btn {
    margin-right: 35px;
}

.hero {
    background: linear-gradient(112.58deg, #FFFFFF 18.15%, rgba(255, 255, 255, 0) 53.07%), url('../img/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
        height: 895px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        margin: 0;
        margin-bottom: 30px;
        max-width: 440px;
        font-size: 65px;
        line-height: 74px;
        font-family: Georgia;
        font-weight: 700;
        color: var(--accent-color);
    }
    &__descr {
        margin: 0;
        margin-bottom: 30px;
        max-width: 420px;
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        color: var(--color-dark);
    }
}

.logo {
    position: relative;
    color: var(--accent-color);
    &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
    }
    &:hover::before {
        transform: scaleX(1);
    }
}

.work {
    padding: 170px 0 50px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 200px;
    }
    &__slogan {
        margin: 0;
        font-size: 24px;
        line-height: 157%;
    }
    &__title {
        color: var(--accent-color);
    }
    &__descr {
        margin: 0;
        max-width: 671px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-dark);
    }
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        counter-reset: section;
    }
    &__item {
        position: relative;
        &::before {
            position: absolute;
            counter-increment: section;
            content: "0" counter(section);
            top: -130px;
            left: 17px;
            font-family: Georgia;
            font-style: normal;
            font-weight: 400;
            font-size: 150px;
            line-height: 150%;
            text-align: center;
            color: rgba(1, 153, 109, 0.2);
        }
        &:nth-child(even) {
            margin-top: 200px;
        }
    }
    &__card {
        max-width: 380px;
    }
    &__subtitle {
        margin: 0;
        margin-bottom: 50px;
        font-size: 30px;
        line-height: 150%;
        text-align: center;
        color: var(--color-text);
    }
    &__desc {
        margin: 0;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-dark);
    }
    &__image {
        overflow: hidden;
        border-radius: 12px;
        img {
            object-fit: cover;
            width: 390px;
            height: 492px;
        }
    }
}

.about {
    background-color: var(--color-green);
    padding: 160px 0;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        margin-bottom: 30px;
        color: var(--color-white);
    }
    &__descr {
        color: var(--color-white);
        font-size: 25px;
        line-height: 157%;
        margin: 0;
        margin-bottom: 50px;
    }
    &__video {
        position: relative;
        overflow: hidden;
        .video {
            width: 780px;
            border-radius: 16px;
        }
    }
    &__playpause {
        position: absolute;
        background-image: url('../img/play.svg');
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        margin: auto;
        background-size: contain;
        background-position: center;
    }
}

.people {
    padding: 120px 0;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__images {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 600px;
        border-radius: 18px;
        background-color: rgba(1, 153, 109, 0.2);
    }
    &__left {
        position: relative;
        width: 45%;
    }
    &__card {
        position: absolute;
        left: -50px;
        bottom: -70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        font-weight: 600;
        font-size: 25px;
        line-height: 157%;
        color: var(--color-dark);
        margin: 0;
        margin-bottom: 10px;
    }
    &__right {
        width: 45%;
    }
    &__title {
        margin: 0;
        margin-bottom: 20px;
        color: var(--accent-color)
    }
    &__descr {
        font-size: 20px;
        line-height: 31px;
        color: var(--color-dark);
        margin: 0;
        margin-bottom: 40px;
    }
}

.card {
    background-color: var(--color-white);
    width: 296px;
    padding: 20px;
    box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
    &__title {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 15px;
        line-height: 157%;
        color: var(--color-text);
        border-bottom: 1px solid black;
        padding-bottom: 7px;
    }
    &__images {
        img {
            width: 57px;
            height: 57px;
            object-fit: cover;
            border-radius: 100%;
            background-color: rgba(1, 153, 109, 0.2);
        }
    }
    &__name {
        margin: 0;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 157%;
        color: var(--color-text);
        text-align: center;
    }
    &__advantages {
        margin: 0;
        font-family: Georgia;
        font-weight: 700;
        font-size: 16px;
        line-height: 157%;
        color: var(--color-text);
    }
    &__list {
        align-self: flex-start;
        margin-left: 12px;
    }
    &__item {
        font-size: 10px;
        line-height: 157%;
        color: var(--color-text);
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.footer {
    padding: 100px;
    background-color: #245852;
    &__item {
        &:not(:last-child) {
            margin: 60px 0;
        }
    }
    &__link {
        position: relative;
        font-size: 25px;
        line-height: 30px;
        color: var(--color-white);
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 2px;
            background-color: var(--color-white);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }
        &:hover::before {
            transform: scaleX(1);
        }
    }
}

@media (max-width: 1280px) {
    .work {
        &__wrapper {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }
        &__list {
            flex-direction: column;
            align-items: center;
        }
        .work__item {
            margin-top: 100px;
        }
    }
    .about {
        padding: 80px 0;
        &__container {
            flex-direction: column;
        }
        &__text {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1024px) {
    .nav {
        display: none;
    }
    .hero {
        &__container {
            height: auto;
        }
        &__text {
            padding: 80px 0;
        }
    }
    .work {
        padding: 80px 0;
    }
    .people {
        padding: 80px 0;
        &__container {
            flex-direction: column;
        }
        &__left {
            width: 60%;
            margin-bottom: 80px;
        }
        &__right {
            width: 100%;
        }
    }
    .footer {
        padding: 80px 0;
        background-color: #245852;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }
    .hero {
        &__title {
            font-size: 34px;
            line-height: 34px;
        }
        &__text {
            padding: 40px 0;
        }
    }
    .about {
        &__video {
            .video {
                width: 100%;
            }
        }
    }
    .people {
        &__left {
            position: relative;
            width: 100%;
            margin-bottom: 40px;
        }
        &__card {
            position: relative;
            left: auto;
            bottom: auto;
            margin: 0 auto;
        }
        &__images {
            display: none;
        }
    }
}

@media (max-width: 475px) {
    .hero {
        background: linear-gradient(360deg, #ffffff80 18.15%, rgba(255, 255, 255, 0.50) 53.07%), url('../img/hero-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .work__image img {
        height: 400px;
    }
}