@import "../breakpoint";
.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    &__left {
        display: flex;
    }
    &__wrapper {
        cursor: pointer;
        svg {
            width: 12px;
            transition: transform 0.3s ease-in-out;
        }
    }
    &__title {
        margin-right: 4px;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__color {
        margin-right: 50px;
        display: block;
    }
    &__list {
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(114, 114, 114, 0.466);
        padding: 6px 6px 0;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    &__item {
        padding: 4px 0;
        font-size: 16px;
        font-weight: 300;
    }
    &__btn {
        display: block;
        margin: 6px auto;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
    }
    &__link {
        display: block;
        text-align: center;
        padding: 6px 10px;
        color: var(--color-dark);
        &:hover {
            background-color: gainsboro;
        }
    }
}

.filters__wrapper:hover .filters__list {
    opacity: 1;
    transform: scaleY(1);
}

.filters__wrapper:hover {
    svg {
        transform: rotate(180deg);
    }
}

.catalog {
    padding-bottom: var(--main-offset);
    &__caption {
        margin: 0;
        padding-top: var(--second-offset);
        margin-bottom: var(--second-offset);
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        border-top: 1px solid var(--color-gray);
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 40px;
        text-decoration: none;
        @include small-tablet {
            grid-template-columns: repeat(8, 1fr);
        }
    }
    &__item {
        grid-column: 4 span;
    }
}

.product {
    display: flex;
    flex-direction: column;
    &__status {
        margin: 0;
        font-size: 12px;
        color: yellowgreen;
        font-weight: 600;
    }
    &__title {
        margin: 4px 0;
        font-size: 20px;
        font-weight: 400;
        color: var(--color-dark);
    }
    &__img {
        position: relative;
        line-height: 0;
    }
    &__img:hover .product__link {
        opacity: 1;
    }
    &__link {
        position: absolute;
        display: flex;
        top: 0px;
        height: 100%;
        text-align: center;
        opacity: 0;
        object-fit: contain;
        transition: opacity 0.3s ease-in-out;
        img {
            object-fit: cover;
        }
    }
}

.price {
    font-size: 17px;
    &__old {
        color: var(--color-silver);
        text-decoration: line-through var(--color-silver);
    }
    &__new {
        color: var(--color-dark);
    }
}